{% extends "base.html" %}
{% load static %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'create_article' %}">Create article</a>
</li>
{% endblock %}

{% block content %}

<h1>Статьи</h1>
<div class="row">
    {% for article in articles %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <a href="{% url 'article_view' article.pk %}" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}